<!DOCTYPE html>
<html>
<head>
	<title>Where's Waldo?</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
</head>
<body>
	<div class="flex">
		<div class="puzzle_container col-2-3"><img src="/waldo.jpg" class="xy-cord"></div>
		<div class="content_container col-1-3">
			<h1>Can you find Waldo and his friends?</h1>
		</div>
	</div>
	<div class="modal" style="display: none">
		<div class="modal__content">
		   <div class="modal__close">X</div>
		   <div class="modal__title"></div>
		</div>
	</div>
 <script type="text/javascript" src="/styles.js"></script>
</body>
</html>